.navbar{
  background-color: #1B1D52;
  position: fixed;
  z-index: 6;
  width: 100%;
  max-height: 5em;
}

.logo{
  padding: 1em;
}

.navbar__links{
  float: right;
}

.navbar__link{
  padding: 1em;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  /* lower the text position */
  text-align: center;
  /* make the text position the same as the image */
  line-height: 3.5em;
  font-family: "montserrat", sans-serif;
  /* bold the text */
  font-weight: 500;
  /* when hover transform */
  transition: all 0.3s ease-in-out;
}

.navbar__link:hover{
  color: #636363;
  /* ease in ease out */
  transition: all 0.3s ease-in-out;
}

.main {
  position: relative;
  background-color: linear-gradient(90deg, #1B1D52 0%, #612525 100%);
}

.imageBody{
  display: grid;
}

.image{
  /* add float so that .curvegradient can overlap */
  width: 100%;
  height: 100%;
  opacity: 0.7;
  /* only change the border radius of the bottom left corner */
  /* border-radius: 0 0 0 25%; */
  border-bottom-left-radius: 250px;
  float: right;
}

.search{
  z-index: 5;
  grid-row: 1;
  grid-column: 1;
  margin-top: 13%;
  padding-left: 12%;
  position: absolute;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 3em;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  color: #84BCFF;
}

.description{
  color: white;
  font-size: 1.3em;
  padding: 0.3em;
  padding-bottom: 1em;
}

.searchbar__input{
  background-color: #ffffff;
  color: black;
  border: none;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 10em;
  /* border top left */
  border-top-left-radius: 5px;
  /* border bottom left */
  border-bottom-left-radius: 5px;
}

.searchbar__button{
  background-color: #252875;
  color: #ffffff;
  border: none;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  /* border top right */
  border-top-right-radius: 5px;
  /* border bottom right */
  border-bottom-right-radius: 5px;
  /* when clicked make a sound */
  transition: all 0.2s ease-in-out;
}

.searchbar__button:hover{
  background-color: #636363;
  /* ease in ease out */
  transition: all 0.2s ease-in-out;
  /* change cursor */
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 25% 10% 10% 10% 10% 10% 10% 10% 10%;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  /* footer should always be at the bottom */
  position: absolute;
  bottom: 0;
  width: 100%;
}
.copyright {
  color: #ffffff;
  grid-column: 1;
  text-align: center;
}

.tos {
  color: #636363;
  grid-column: 2;
  text-align: center;
}

.warframemarket {
  color: #636363;
  grid-column: 3;
  text-align: center;
}